@charset "UTF-8";
/*==================================
  Foundation　
==================================*/
*, ::before, ::after {
  box-sizing: border-box;
  color: #2C2C2C;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  body {
    font-size: min(3.7333333333vw, 16px);
    line-height: min(6.4vw, 28px);
  }
}

section:not(.p-hero) {
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  section:not(.p-hero) {
    padding: clamp(64px, 17.0666666667vw, 100px) 0;
  }
}

section h2 {
  font-size: 3.125rem;
  font-style: italic;
  font-weight: 700;
  line-height: 66px;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  section h2 {
    font-size: min(9.6vw, 50px);
    font-weight: 700;
    line-height: min(12.5333333333vw, 66px);
  }
}

section h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}

footer {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

img,
video {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*==================================
  Layout
==================================*/
.l-header__hamburger {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: 40px;
  margin-top: 10px;
  position: fixed;
  width: 50px;
  z-index: 10000;
}
.l-header__hamburger > span, .l-header__hamburger > span::before {
  transition: 0.3s;
}
.l-header__hamburger > span {
  background: #005864;
  display: block;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  width: 30px;
}
.l-header__hamburger > span::before {
  background: #005864;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: -10px;
  width: 100%;
}
.l-header__hamburger > span::after {
  color: #005864;
  content: "menu";
  font-family: "Lora", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  left: -6px;
  line-height: 24px;
  position: absolute;
  top: 5px;
}
.l-header__content {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  height: 70px;
  justify-content: center;
  left: 0;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.l-header__content__logo {
  align-items: center;
  display: flex;
  grid-column: 2/3;
  grid-row: 1/3;
  justify-content: center;
  height: auto;
  width: auto;
}
.l-header__content__logo a {
  display: inline-block;
  height: auto;
  width: auto;
}
.l-header__content__logo img {
  height: 50px;
  width: auto;
}
.l-header__content__shop {
  grid-column: 3/4;
  grid-row: 1/3;
  position: absolute;
  right: 0;
}
.l-header__content__shop::after {
  background-color: #005864;
}
.l-header__content__shop > span {
  color: #005864;
}
.l-header__content__shop:hover {
  border-bottom: #005864 1px solid;
  padding-top: 1px;
}
.l-header__nav {
  background-color: #CDE0DD;
  height: 100vh;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-125%);
  transition: 0.3s ease;
}
.l-header__nav__list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 126px 40px 0;
}
.l-header__nav__list__item:first-child {
  gap: 56px;
}
.l-header__nav__list__item span {
  color: #005864;
  font-weight: 700;
}
.l-header__nav__list__item__shop {
  color: #005864;
  font-weight: 400;
  padding: 16px 72px;
  text-align: center;
}
.l-header__nav__list__item__shop::after {
  background-color: #005864;
}
.l-header__nav__list__item__logo {
  width: auto;
  height: auto;
}
.l-header__nav__list__item__logo img {
  width: 150px;
}
.l-header__nav__list__item__title__en {
  font-family: "Lora", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 28px;
}
.l-header.js-nav-is-active .l-header__hamburger > span {
  margin-top: 0;
  top: -5px;
  transform: rotate(30deg);
}
.l-header.js-nav-is-active .l-header__hamburger > span::before {
  top: 0px;
  transform: rotate(-60deg);
}
.l-header.js-nav-is-active .l-header__hamburger > span::after {
  content: "close";
  left: 3px;
  margin-top: 4px;
  transform: rotate(-30deg);
}
.l-header.js-nav-is-active .l-header__nav {
  position: fixed;
  transform: translateX(0);
  z-index: 5000;
}
.l-header.js-nav-is-active .l-header__nav__list__item:not(:last-child) {
  transition: padding-left 0.4s;
}
.l-header.js-nav-is-active .l-header__nav__list__item:not(:last-child):hover {
  padding-left: 16px;
}
.l-header.js-nav-is-active .l-header__nav__list__item__shop:hover {
  background-color: #005864;
  color: #fff;
}
.l-header.js-nav-is-active .l-header__nav__list__item__shop:hover::after {
  background-color: #fff;
}

.l-footer {
  background-color: #CDE0DD;
  padding: 32px 0;
}
.l-footer__content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.l-footer__content__logo img {
  height: 50px;
  width: auto;
}
.l-footer__content__text__list {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: space-evenly;
  margin-bottom: 24px;
}
.l-footer__content__text__list__item {
  position: relative;
}
.l-footer__content__text__list__item::after {
  background: #2C2C2C;
  content: "";
  height: 60%;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}
.l-footer__content__text__list__item:last-child::after {
  display: none;
}
.l-footer__content__text__list__item a:hover {
  -webkit-text-decoration: underline #2C2C2C;
  text-decoration: underline #2C2C2C;
  text-decoration-thickness: 1px;
}

/*==================================
  Object
==================================*/
/* Component ------------ */
.c-button {
  background-color: #fff;
  border-radius: 34px;
  display: inline-block;
}
.c-button:hover {
  background-color: #2C2C2C;
}

.c-text__capitalize {
  text-transform: capitalize;
}

.c-text__uppercase {
  text-transform: uppercase;
}

.c-text__section__title {
  color: #8FC6AB;
}

.c-text__section__subtitle {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8125rem;
}

.c-text__shoplink {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8125rem;
}
.c-text__shoplink::after {
  content: "";
  display: inline-block;
  height: 20px;
  -webkit-mask-image: url(../img/icon/shopping-cart.svg);
          mask-image: url(../img/icon/shopping-cart.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  margin-left: 8px;
  vertical-align: middle;
  width: 18.8px;
}
.c-text__shoplink__attention {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.c-section__inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.c-pc__only {
  display: initial;
}
@media screen and (max-width: 767px) {
  .c-pc__only {
    display: none;
  }
}

.c-sp__only {
  display: none;
}
@media screen and (max-width: 767px) {
  .c-sp__only {
    display: initial;
  }
}

/* Project ------------ */
.p-hero {
  background-color: #CDE0DD;
  width: 100%;
}
.p-hero__bg__list__item__img {
  -webkit-clip-path: ellipse(99.8% 100% at 50% 0);
  clip-path: ellipse(120% 100% at 50% 0);
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.p-hero__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 20%;
  position: absolute;
  top: calc(50% + 35px);
  transform: translateY(-50%);
}
.p-hero__text__catchcopy__content.js-animation {
  animation: bar-animation 1.7s ease-out;
  background-color: transparent;
  background-image: linear-gradient(to left, transparent 0%, transparent 50%, #8FC6AB 50%, #8FC6AB 100%);
  background-size: 200% auto;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  color: #fff;
  display: inline;
  font-style: normal;
  line-height: 72px;
  overflow: hidden;
  padding: 0 8px;
}
@keyframes bar-animation {
  0% {
    background-position: 100% 100%;
    width: 0em;
  }
  100% {
    background-position: 0 0;
    width: 7em;
  }
}
.p-hero__text__shoplink {
  text-align: center;
}
.p-hero__text a {
  margin-bottom: 16px;
  margin-top: 48px;
  padding: 16px 72px;
  text-align: center;
}
.p-hero__text a::after {
  background-color: #2C2C2C;
}
.p-hero__text a:hover {
  color: #fff;
}
.p-hero__text a:hover::after {
  background-color: #fff;
}
.p-hero__text p {
  background-color: rgba(44, 44, 44, 0.13);
  color: #fff;
  text-align: center;
}
.p-hero__scroll.js-animation {
  animation: arrowmove 1.1s ease-in-out infinite;
  bottom: 1%;
  position: absolute;
  right: 50%;
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
.p-hero__scroll span {
  bottom: 16px;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  left: -20px;
  position: absolute;
  writing-mode: vertical-rl;
}
.p-hero__scroll span::before {
  content: "";
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 1.5px;
  height: 20px;
  background: #fff;
  transform: skewX(-31deg);
}
.p-hero__scroll span::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 1.5px;
  height: 50px;
  background: #fff;
}

.p-about {
  background: transparent radial-gradient(closest-side at 50% 50%, #fff 0%, #F6F9F8 36%, #CDE0DD 100%) 0% 0% no-repeat padding-box;
}
.p-about__message {
  text-align: center;
  margin-bottom: 64px;
}
.p-about__message__title__sub__birthplace {
  font-size: 1.25rem;
  line-height: 1.8125rem;
  margin-bottom: 24px;
}
.p-about__message__title__main {
  font-size: 2.25rem;
  font-style: normal;
  line-height: 3.25rem;
  margin-bottom: 8px;
}
.p-about__message__title__main__border {
  position: relative;
  z-index: 1;
}
.p-about__message__title__main__border::after {
  background: #8FC6AB;
  border-radius: 12px;
  bottom: 24px;
  content: "";
  display: flex;
  height: 24px;
  margin: 0 auto;
  position: relative;
  width: 520px;
  z-index: -1;
}
.p-about__message__title__sub__keywords {
  font-size: 1.25rem;
  line-height: 1.8125rem;
  margin-bottom: 48px;
}
.p-about__message__text {
  margin-bottom: 32px;
}
.p-about__message__text:last-child {
  margin-bottom: 0;
}
.p-about__founders {
  text-align: center;
  margin: 0 auto;
  max-width: 690px;
}
.p-about__founders__title {
  align-items: center;
  display: flex;
  font-weight: 400;
  justify-content: center;
}
.p-about__founders__title::before, .p-about__founders__title::after {
  content: "";
  background-color: #2C2C2C;
  flex-grow: 1;
  height: 1px;
}
.p-about__founders__title::before {
  margin-right: 54px;
}
.p-about__founders__title::after {
  margin-left: 54px;
}
.p-about__founders__list {
  align-items: center;
  display: flex;
  gap: 54px;
  justify-content: center;
}
.p-about__founders__list__item {
  margin-top: 40px;
}
.p-about__founders__list__item picture {
  border-radius: 50%;
  display: inline-block;
  height: 120px;
  overflow: hidden;
  width: 120px;
}
.p-about__founders__list__item img {
  display: inline-block;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
}
.p-about__founders__andy {
  -o-object-position: 43% 30px;
     object-position: 43% 30px;
  transform: scale(2.2);
}
.p-about__founders__andy:hover {
  transform: scale(2.4, 2.4);
}
.p-about__founders__tony {
  -o-object-position: 45% 20px;
     object-position: 45% 20px;
  transform: scale(2.3);
}
.p-about__founders__tony:hover {
  transform: scale(2.5, 2.5);
}
.p-about__founders__mikaella {
  -o-object-position: 0 30%;
     object-position: 0 30%;
}
.p-about__founders__mikaella:hover {
  transform: scale(1.1, 1.1);
}
.p-about__founders__list__item p {
  margin-top: 16px;
}

.p-wave {
  background-color: #CDE0DD;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.p-wave__shape__fill {
  background: url(../img/icon/waves.svg) repeat-x;
  background-size: 1280px 30px;
  animation: waveBg 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  bottom: 0;
  height: 100%;
  position: absolute;
  transform: translate3d(0, 0, 0);
  width: 3840px;
}
@keyframes waveBg {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1280px;
  }
}

.p-feature__content {
  align-items: stretch;
  display: flex;
  gap: min(8.0357142857vw, 90px);
  height: auto;
  justify-content: center;
}
.p-feature__content__img {
  flex: 1;
}
.p-feature__content__img img {
  border-radius: 56px;
  height: 100%;
  max-height: calc(100vh - 70px);
  -o-object-fit: cover;
     object-fit: cover;
  position: sticky;
  top: 70px;
  width: auto;
}
.p-feature__content__text {
  flex: 1;
}
.p-feature__title {
  text-align: left;
}
.p-feature__content__text__subtitle {
  margin-bottom: 56px;
  margin-top: 16px;
}
.p-feature__content__text__item__list {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
}
.p-feature__content__text__item__list:last-child {
  margin-bottom: 0;
}
.p-feature__content__text__item__list__img {
  flex: 1;
  height: auto;
  max-width: 70px;
  width: 6.25vw;
}
.p-feature__content__text__item__list__img img {
  height: auto;
  width: 100%;
}
.p-feature__content__text__item__list__text {
  flex: 1;
}
.p-feature__content__text__item__list__text h3 {
  margin-bottom: 16px;
}

.p-technology__title h2 {
  text-align: center;
}
.p-technology__content__text__subtitle {
  margin-bottom: 56px;
}
.p-technology__content {
  background: url(../img//photo/3446622_m.jpg) no-repeat;
  background: url(../img//webp/3446622_m.webp) no-repeat;
  background-size: cover;
  border-radius: 56px;
  padding: 200px 0;
  position: relative;
}
.p-technology__content__img__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.p-technology__content__img__list__item {
  max-width: 515px;
  width: 45.98%;
}
.p-technology__content__img__list__item__upper {
  margin: 0 auto;
  width: 90%;
}
.p-technology__content__text {
  left: 0;
  position: absolute;
  top: 0;
}
.p-technology__content__text h3 {
  font-size: 1rem;
  line-height: 1.75rem;
  -webkit-text-decoration: underline #8FC6AB;
  text-decoration: underline #8FC6AB;
  text-decoration-thickness: 4px;
  text-underline-offset: 0px;
}
.p-technology__content__text__upper {
  left: min(7.2916666667vw, 80px);
  position: absolute;
  top: min(5.2083333333vw, 80px);
  width: min(36.4583333333vw, 400px);
}
.p-technology__content__text__insole {
  left: min(69.2708333333vw, 840px);
  position: absolute;
  top: min(38.5416666667vw, 320px);
  width: min(17.7083333333vw, 232px);
}
.p-technology__content__text__outsole {
  left: min(12.5vw, 224px);
  position: absolute;
  top: min(55.2083333333vw, 520px);
  width: min(41.6666666667vw, 400px);
}

.p-product__title h2 {
  text-align: center;
}
.p-product__title p {
  text-align: left;
}
.p-product__content__lineup__list {
  display: grid;
  gap: min(3.125vw, 35px);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 56px 0;
}
.p-product__content__lineup__list__item {
  background: #CDE0DD;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 30px 24px;
  text-align: center;
}
.p-product__card__img {
  margin: 0 auto;
  overflow: hidden;
}
.p-product__card__img__picture {
  aspect-ratio: 300/197;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  max-width: 220px;
  width: 100%;
}
.p-product__card__img__picture:hover {
  transform: scale(1.1, 1.1);
}
.p-product__card__text {
  flex: 1;
  margin-top: 24px;
  margin-bottom: 32px;
}
.p-product__card__text h3 {
  margin-bottom: 8px;
  text-align: center;
}
.p-product__card__text p {
  text-align: left;
}
.p-product__content__lineup__list__item a {
  padding: 16px 0;
  width: 100%;
}
.p-product__content__lineup__list__item a:hover {
  color: #fff;
}
.p-product__content__lineup__list__item a::after {
  background-color: #2C2C2C;
}
.p-product__content__lineup__list__item a:hover::after {
  background-color: #fff;
}
.p-product__content__category__list {
  display: grid;
  gap: min(3.125vw, 35px);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.p-product__content__category__list__item {
  text-align: center;
  width: 100%;
}
.p-product__content__category__list__item__img {
  border-radius: 16px;
  height: auto;
  overflow: hidden;
  width: min(100%, 350px);
}
.p-product__content__category__list__item__img img {
  aspect-ratio: 1/1;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: min(100%, 350px);
}
.p-product__content__category__list__item__img img:hover {
  transform: scale(1.1, 1.1);
}
.p-product__content__category__list__item__img__men {
  -o-object-position: 0 -100px;
     object-position: 0 -100px;
}
.p-product__content__category__list__item a {
  border: 1px solid #2C2C2C;
  margin: 24px auto 16px;
  padding: 16px 0;
  width: 80%;
}
.p-product__content__category__list__item a:hover {
  color: #fff;
}
.p-product__content__category__list__item a::after {
  background-color: #2C2C2C;
}
.p-product__content__category__list__item a:hover::after {
  background-color: #fff;
}
.p-product__content__shoplink__attention {
  margin-top: 40px;
}
.p-product__content__shoplink__attention p {
  text-align: center;
}

.p-warranty__content {
  align-items: stretch;
  display: flex;
  flex-direction: row-reverse;
  gap: min(8.0357142857vw, 90px);
  height: auto;
  justify-content: center;
}
.p-warranty__content__img {
  flex: 1;
}
.p-warranty__content__img img {
  border-radius: 56px;
  height: 100%;
  max-height: calc(100vh - 70px);
  -o-object-fit: cover;
     object-fit: cover;
  position: sticky;
  top: 70px;
  width: auto;
}
.p-warranty__content__text {
  flex: 1;
}
.p-warranty__title {
  text-align: left;
}
.p-warranty__content__text__subtitle {
  margin-bottom: 56px;
  margin-top: 16px;
}
.p-warranty__content__text__item__list {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
}
.p-warranty__content__text__item__list:last-child {
  margin-bottom: 0;
}
.p-warranty__content__text__item__list__img {
  flex: 1;
  height: auto;
  max-width: 70px;
  width: 6.25vw;
}
.p-warranty__content__text__item__list__img img {
  height: auto;
  width: 100%;
}
.p-warranty__content__text__item__list__text {
  flex: 1;
}
.p-warranty__content__text__item__list__text h3 {
  margin-bottom: 16px;
}

.p-eyecatch__fixed {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 44.64vw;
  margin-top: 100px;
  max-height: 530px;
  width: 100%;
}
.p-eyecatch__fixed__background__reviews {
  background-image: url(../img/photo/Weekend_MarbleWhite6.jpg);
  background-image: url(../img/webp/Weekend_MarbleWhite6.webp);
}

.p-eyecatch__background__faq {
  background-image: url(../img/photo/Weekend_MarbleWhite5.jpg);
  background-image: url(../img/webp/Weekend_MarbleWhite5.webp);
  background-position: center;
  background-size: cover;
  height: 44.64vw;
  margin-top: 100px;
  max-height: 530px;
  width: 100%;
}

.p-faq__title {
  text-align: center;
}
.p-faq__content__text__subtitle {
  margin-bottom: 56px;
}
.p-faq__list {
  width: 100%;
}
.p-faq__list__item {
  width: 100%;
  margin-bottom: 48px;
}
.p-faq__list__item:last-child {
  margin-bottom: 0;
}
.p-faq__list__item__question {
  background: #CDE0DD;
  border-radius: 16px;
  cursor: pointer;
  padding: 16px 24px;
  position: relative;
  transition: padding-left 0.4s;
}
.p-faq__list__item__question:hover {
  padding-left: 40px;
}
.p-faq__list__item__question::before, .p-faq__list__item__question::after {
  background-color: #005864;
  border-radius: 16px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.4s;
  width: 20px;
}
.p-faq__list__item__answer {
  margin: 16px 24px 0;
}
@media screen and (max-width: 767px) {
  .p-faq__list__item__answer {
    display: none;
  }
}
.p-faq__other {
  text-align: center;
}
.p-faq__list__item.js-faq-is-not-active .p-faq__list__item__question::after {
  transform: rotate(90deg) translateY(-50%);
}
.p-faq a {
  color: #4974a5;
}
.p-faq a:hover {
  -webkit-text-decoration: underline #4974a5;
  text-decoration: underline #4974a5;
  text-decoration-thickness: 1px;
}

.p-promotion {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/photo/charcoalgrey3.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/webp/charcoalgrey3.webp) no-repeat center center/cover;
  text-align: center;
  width: 100%;
}
.p-promotion h2, .p-promotion p, .p-promotion span {
  color: #fff;
  text-align: center;
}
.p-promotion h2 {
  font-size: 1.25rem;
  font-style: normal;
  line-height: 29px;
}
.p-promotion a {
  border: 1px solid #fff;
  margin-bottom: 32px;
  margin-top: 48px;
  padding: 16px 72px;
  text-align: center;
}
.p-promotion a::after {
  background-color: #2C2C2C;
}
.p-promotion a:hover {
  color: #fff;
}
.p-promotion a:hover::after {
  background-color: #fff;
}
.p-promotion p {
  margin-bottom: 16px;
}
.p-promotion p:last-child {
  margin-bottom: 0;
}

/* Utility ------------ */
.modaal-inner-wrapper,
.modaal-container,
.modaal-content {
  max-width: 939px !important;
  width: 100% !important;
}

.modaal-gallery-item.is_active {
  max-width: 939px !important;
}

.modaal-close:hover:before,
.modaal-close:hover:after {
  background: #005864;
}/*# sourceMappingURL=style.css.map */