@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;
@use '../../foundation/function' as f;

.c-button {
  background-color: v.$white;
  border-radius: 34px;
  display: inline-block;
}