@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;
@use '../../foundation/function' as f;

.c-button {
  background-color: v.$white;
  border-radius: 34px;
  display: inline-block;

  @include m.sp {
    border-radius: min(f.pixelToVwSize(29px, v.$spViewPort), 34px);
  }

  &:hover {
    background-color: v.$textColor;
  }
}