@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;
@use '../../foundation/function' as f;

.c-section__inner {
  max-width: 1180px;
  margin: 0 auto;   // 本来はここに書かないが、固定のため記述
  padding: 0 30px;  // 本来はここに書かないが、固定のため記述
  width: 100%;
}

.c-pc__only {
  display: initial;

  @include m.sp {
    display: none;
  }
}

.c-sp__only {
  display: none;

  @include m.sp {
    display: initial;
  }
}