@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;
@use '../../foundation/function' as f;

.c-text__capitalize {
  text-transform: capitalize;
}

.c-text__uppercase {
  text-transform: uppercase;
}

.c-text__section__title {
  color: v.$primaryColor;
}

.c-text__section__subtitle {
  font: {
    size: f.pixelToRemSize(v.$fontSize20);
    weight: 700;
  }
  line-height: f.pixelToRemSize(v.$lineHeight29);

  @include m.sp {
    font: {
      size: min(f.pixelToVwSize(v.$fontSize16, v.$spViewPort), v.$fontSize20);
    }
    line-height: min(f.pixelToVwSize(v.$lineHeight28, v.$spViewPort), v.$lineHeight29);
  }
}

// ショップへ遷移するリンクのテキスト
.c-text__shoplink {
  font: {
    size: f.pixelToRemSize(v.$fontSize20);
    weight: 400;
  }
  line-height: f.pixelToRemSize(v.$lineHeight29);

  @include m.sp {
    font: {
      size: min(f.pixelToVwSize(v.$fontSize16, v.$spViewPort), v.$fontSize20);
    }
    line-height: min(f.pixelToVwSize(v.$lineHeight28, v.$spViewPort), v.$lineHeight29);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 20px;
    mask-image: url(../img/icon/shopping-cart.svg);
    mask-size: cover;
    margin-left: 8px;
    vertical-align: middle;
    width: 19px;

    @include m.sp {
      height: min(f.pixelToVwSize(16px, v.$spViewPort), 20px);
      margin-left: min(f.pixelToVwSize(4px, v.$spViewPort), 8px);
      width: min(f.pixelToVwSize(15.15px, v.$spViewPort), 19px);
    }
  }

  // spのヘッダーのみ変更する
  &.l-header__shoplink::after {
    @include m.sp {
      display: none;
    }
  }

  &__attention {
    font: {
      size: f.pixelToRemSize(v.$fontSize14);
      weight: 400;
    }
    line-height: f.pixelToRemSize(v.$lineHeight24);

    @include m.sp {
      font: {
        size: min(f.pixelToVwSize(v.$fontSize12, v.$spViewPort), v.$fontSize14);
      }
      line-height: min(f.pixelToVwSize(v.$lineHeight20, v.$spViewPort), v.$lineHeight24);
    }
  }
}

// 「もっと見る」のスタイル
.c-text__expand-link {
  @include m.sp {
    color: v.$ankerLinkColor;
    cursor: pointer;
  }
}

.c-text__expand-link:hover {
  @include m.sp {
    color: v.$ankerLinkColor;
    -webkit-text-decoration: underline v.$ankerLinkColor;
    text-decoration: underline v.$ankerLinkColor;
    text-decoration-thickness: 1px;
  }
}
