@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;
@use '../../foundation/function' as f;

.modaal-inner-wrapper,
.modaal-image .modaal-container,
.modaal-content {
  max-width: 939px !important;
  width: 100% !important;
}

.modaal-gallery-item.is_active {
  max-width: 939px !important;
}

.modaal-close {
  top: calc(20px + v.$pcHeaderHeight) !important;
}

.modaal-close:hover:before,
.modaal-close:hover:after {
  background: v.$logoColor;
}

// フェードイン
.js-fadeIn {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity, transform;
  transform: translateY(v.$fadeInAnimationHeight);

  &.is-scrollIn {
    opacity: 1;
    transform: translateY(0);
  }
}