@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;
@use '../../foundation/function' as f;

// ヒーロー
.p-hero {
  background-color: v.$aboutBgColor;
  width: 100%;

  &__bg__img {
    -webkit-clip-path: ellipse(120% 100% at 50% 0);
    clip-path: ellipse(120% 100% at 50% 0);
    height: 100vh;
    object-fit: cover;
    width: 100%;

    @include m.sp {
      -webkit-clip-path: ellipse(140% 100% at 50% 0);
      clip-path: ellipse(140% 100% at 50% 0);
    }
  }

  &__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 20%;
    position: absolute;
    top: calc(50% + v.$pcHeaderHeight / 2);
    transform: translateY(-50%);

    @include m.sp {
      font: {
        size: min(f.pixelToVwSize(v.$fontSize40, v.$spViewPort), v.$fontSize50);
        weight: 700;
      }
      left: 50%;
      right: auto;
      top: 20%;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  &__catchcopy__content.js-animation {
    animation: 1.7s bar-animation 3s ease-out;
    background-color: transparent;
    background-image: linear-gradient(to left, transparent 0%, transparent 50%, v.$primaryColor 50%, v.$primaryColor 100%);
    background-size: 200% auto;
    box-decoration-break: clone;
    color: v.$white;
    display: inline;
    font: {
      style: normal;
    }
    line-height: v.$lineHeight72;
    overflow: hidden;
    padding: 0 8px;

    @include m.sp {
      line-height: min(f.pixelToVwSize(v.$lineHeight58, v.$spViewPort), v.$lineHeight72);
    }
  }

  @keyframes bar-animation {
    0% {
      background-position: 100% 100%;
      width: 0em;
    }
    100% {
      background-position: 0 0;
      width: 7em;
    }
  }

  &__shoplink__area {
    text-align: center;
  }

  &__shoplink {
    margin-bottom: 16px;
    margin-top: 48px;
    padding: 16px 72px;
    text-align: center;

    @include m.sp {
      margin-top: 32px;
    }
  }

  &__shoplink::after {
    background-color: v.$textColor;
  }

  &__shoplink:hover {
    color: v.$white;

    &::after {
      background-color: v.$white;
    }
  }

  &__shoplink__attention {
    background-color: rgba(v.$textColor, 0.13);
    color: v.$white;
    text-align: center;
  }

  &__scroll.js-animation {
    animation: 1.1s arrowmove ease-in-out infinite;
    bottom: 1%;
    position: absolute;
    right: 50%;
  }

  @keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
    100%{bottom:1%;}
  }

  &__scroll span {
    bottom: 16px;
    color: v.$white;
    font: {
      size: f.pixelToRemSize(v.$fontSize14);
    }
    line-height: f.pixelToRemSize(v.$lineHeight24);
    left: -20px;
    position: absolute;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }

  &__scroll span::before {
    content: "";
    // 描画位置
    position: absolute;
    bottom: -6px;
    right: -6px;
    // 矢印の形状
    width: 1.5px;
    height: 20px;
    background: v.$white;
    transform: skewX(-31deg);
  }

  &__scroll span::after {
    content:"";
    // 描画位置
    position: absolute;
    bottom: -6px;
    right: 0;
    // 矢印の形状
    width: 1.5px;
    height: 50px;
    background:v.$white;
  }
}