@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;
@use '../../foundation/function' as f;

// ヒーロー
.p-hero {
  background-color: v.$subPrimaryColor;
  width: 100%;

  &__bg__list__item__img {
    -webkit-clip-path: ellipse(99.8% 100% at 50% 0);
    clip-path: ellipse(120% 100% at 50% 0);
    height: 100vh;
    object-fit: cover;
    width: 100%;
  }

  &__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 20%;
    position: absolute;
    top: calc(50% + v.$pcHeaderHeight / 2);
    transform: translateY(-50%);

    &__catchcopy__content.js-animation {
      animation: bar-animation 1.7s ease-out;
      background-color: transparent;
      background-image: linear-gradient(to left, transparent 0%, transparent 50%, v.$primaryColor 50%, v.$primaryColor 100%);
      background-size: 200% auto;
      box-decoration-break: clone;
      color: v.$white;
      display: inline;
      font: {
        style: normal;
      }
      line-height: v.$lineHeight72;
      overflow: hidden;
      padding: 0 8px;
    }

    @keyframes bar-animation {
      0% {
        background-position: 100% 100%;
        width: 0em;
      }
      100% {
        background-position: 0 0;
        width: 7em;
      }
    }

    &__shoplink {
      text-align: center;
    }

    a {
      margin-bottom: 16px;
      margin-top: 48px;
      padding: 16px 72px;
      text-align: center;
    }

    a::after {
      background-color: v.$textColor;
    }

    a:hover {
      color: v.$white;

      &::after {
        background-color: v.$white;
      }
    }

    p {
      background-color: rgba(v.$textColor, 0.13);
      color: v.$white;
      text-align: center;
    }
  }

  &__scroll.js-animation {
    animation: arrowmove 1.1s ease-in-out infinite;
    bottom: 1%;
    position: absolute;
    right: 50%;
  }

  @keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
    100%{bottom:1%;}
  }

  &__scroll span {
    bottom: 16px;
    color: v.$white;
    font: {
      size: f.pixelToRemSize(v.$fontSize14);
    }
    line-height: f.pixelToRemSize(v.$lineHeight24);
    left: -20px;
    position: absolute;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }

  &__scroll span::before {
    content: "";
    // 描画位置
    position: absolute;
    bottom: -6px;
    right: -6px;
    // 矢印の形状
    width: 1.5px;
    height: 20px;
    background: v.$white;
    transform: skewX(-31deg);
  }

  &__scroll span::after {
    content:"";
    // 描画位置
    position: absolute;
    bottom: -6px;
    right: 0;
    // 矢印の形状
    width: 1.5px;
    height: 50px;
    background:v.$white;
  }
}

// About
.p-about {
  background: transparent radial-gradient(closest-side at 50% 50%, v.$white 0%, v.$subPrimaryColor2 36%, v.$subPrimaryColor 100%) 0% 0% no-repeat padding-box;

  &__message {
    text-align: center;
    margin-bottom: 64px;
  }

  &__message__title__sub__birthplace {
    font: {
      size: f.pixelToRemSize(v.$fontSize20);
    }
    line-height: f.pixelToRemSize(v.$lineHeight29);
    margin-bottom: 24px;
  }

  &__message__title__main {
    font: {
      size: f.pixelToRemSize(v.$fontSize36);
      style: normal;
    }
    line-height: f.pixelToRemSize(v.$lineHeight52);
    margin-bottom: 8px;
  }

  &__message__title__main__border {
    position: relative;
    z-index: v.$zindexAboutText;
  }

  &__message__title__main__border::after {
    background: v.$primaryColor;
    border-radius: 12px;
    bottom: 24px;
    content: '';
    display: flex;
    height: 24px;
    margin: 0 auto;
    position: relative;
    width: 520px;
    z-index: v.$zindexAboutBorder;
  }

  &__message__title__sub__keywords {
    font: {
      size: f.pixelToRemSize(v.$fontSize20);
    }
    line-height: f.pixelToRemSize(v.$lineHeight29);
    margin-bottom: 48px;
  }

  &__message__text {
    margin-bottom: 32px;
  }

  &__message__text:last-child {
    margin-bottom: 0;
  }

  &__founders {
    text-align: center;
    margin: 0 auto;
    max-width: 690px;
  }

  &__founders__title {
    align-items: center;
    display: flex;
    font: {
      weight: 400;
    }
    justify-content: center;
  }

  &__founders__title::before, 
  &__founders__title::after {
    content: "";
    background-color: v.$textColor;
    flex-grow: 1;
    height: 1px;
  }

  &__founders__title::before {
    margin-right: 54px;
  }

  &__founders__title::after {
    margin-left: 54px;
  }

  &__founders__list {
    align-items: center;
    display: flex;
    gap: 54px;
    justify-content: center;
  }

  &__founders__list__item {
    margin-top: 40px;
  }

  &__founders__list__item picture {
    border-radius: 50%;
    display: inline-block;
    height: 120px;
    overflow: hidden;
    width: 120px;
  }

  &__founders__list__item img {
    display: inline-block;
    height: 120px;
    object-fit: cover;
    width: 120px;
  }

  &__founders__andy {
    object-position: 43% 30px;
    transform: scale(2.2);
  }

  &__founders__andy:hover {
    transform: scale(2.4, 2.4);
  }

  &__founders__tony {
    object-position: 45% 20px;
    transform: scale(2.3);
  }

  &__founders__tony:hover {
    transform: scale(2.5, 2.5);
  }

  &__founders__mikaella {
    object-position: 0 30%;
  }

  &__founders__mikaella:hover {
    transform: scale(1.1, 1.1);
  }

  &__founders__list__item p {
    margin-top: 16px;
  }
}

// 波（wave）
.p-wave {
  background-color: v.$subPrimaryColor;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__shape__fill {
    background: url(../img/icon/waves.svg) repeat-x;
    background-size: v.$waveWidth 30px;
    animation: waveBg 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    bottom: 0;
    height: 100%;
    position: absolute;
    transform: translate3d(0, 0, 0);
    width: calc(v.$waveWidth * 3);
  }

  @keyframes waveBg {
    0% {
      margin-left: 0;
    }
    100% {
        margin-left: calc(-1 * v.$waveWidth);
    }
  }
}

// 特徴（Feature）
.p-feature {
  &__content {
    align-items: stretch;
    display: flex;
    gap: min(f.pixelToVwSize(90px, v.$pcViewPort), 90px);
    height: auto;
    justify-content: center;
  }

  &__content__img {
    flex: 1;
  }

  &__content__img img {
    border-radius: 56px;
    height: 100%;
    max-height: calc(100vh - v.$pcHeaderHeight);
    object-fit: cover;
    position: sticky;
    top: v.$pcHeaderHeight;
    width: auto;
  }

  &__content__text {
    flex: 1;
  }

  &__title {
    text-align: left;
  }

  &__content__text__subtitle {
    margin-bottom: 56px;
    margin-top: 16px;
  }

  &__content__text__item__list {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content__text__item__list__img {
    flex: 1;
    height: auto;
    max-width: 70px;
    width: f.pixelToVwSize(70px, v.$pcViewPort);
  }

  &__content__text__item__list__img img {
    height: auto;
    width: 100%;
  }

  &__content__text__item__list__text {
    flex: 1;
  }

  &__content__text__item__list__text h3 {
    margin-bottom: 16px;
  }
}

// テクノロジー(Technology)
.p-technology {
  &__title h2 {
    text-align: center;
  }

  &__content__text__subtitle {
    margin-bottom: 56px;
  }

  &__content {
    background: url(../img//photo/3446622_m.jpg) no-repeat;
    background: url(../img//webp/3446622_m.webp) no-repeat;
    background-size: cover;
    border-radius: 56px;
    padding: 200px 0;
    position: relative;
  }

  &__content__img__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  &__content__img__list__item {
    max-width: 515px;
    width: 45.98%;
  }

  &__content__img__list__item__upper {
    margin: 0 auto;
    width: 90%;
  }

  &__content__text {
    left: 0;
    position: absolute;
    top: 0;
  }

  &__content__text h3 {
    font: {
      size: f.pixelToRemSize(v.$fontSize16);
    }
    line-height: f.pixelToRemSize(v.$lineHeight28);
    -webkit-text-decoration: underline v.$primaryColor;
    text-decoration: underline v.$primaryColor;
    text-decoration-thickness: 4px;
    text-underline-offset: 0px;
  }

  &__content__text__upper {
    left: min(f.pixelToVwSize(56px, v.$tbViewPort), 80px);
    position: absolute;
    top: min(f.pixelToVwSize(40px, v.$tbViewPort), 80px);
    width: min(f.pixelToVwSize(280px, v.$tbViewPort), 400px);
  }

  &__content__text__insole {
    left: min(f.pixelToVwSize(532px, v.$tbViewPort), 840px);
    position: absolute;
    top: min(f.pixelToVwSize(296px, v.$tbViewPort), 320px);
    width: min(f.pixelToVwSize(136px, v.$tbViewPort), 232px);
  }

  &__content__text__outsole {
    left: min(f.pixelToVwSize(96px, v.$tbViewPort), 224px);
    position: absolute;
    top: min(f.pixelToVwSize(424px, v.$tbViewPort), 520px);
    width: min(f.pixelToVwSize(320px, v.$tbViewPort), 400px);
  }
}

// 商品（production）
.p-product {
  &__title h2 {
    text-align: center;
  }

  &__title p {
    text-align: left;
  }

  &__content__lineup__list {
    display: grid;
    gap: min(f.pixelToVwSize(35px, v.$pcViewPort), 35px);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 56px 0;
  }

  &__content__lineup__list__item {
    background: v.$subPrimaryColor;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 30px 24px;
    text-align: center;
  }

  &__content__lineup__list__item a {
    padding: 16px 0;
    width: 100%;
  }

  &__content__lineup__list__item a:hover {
    color: v.$white;
  }

  &__content__lineup__list__item a::after {
    background-color: v.$textColor;
  }

  &__content__lineup__list__item a:hover::after {
    background-color: v.$white;
  }

  &__card__img {
    margin: 0 auto;
    overflow: hidden;
  }

  &__card__img__picture {
    aspect-ratio: 300 / 197;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    max-width: 220px;
    width: 100%;
  }

  &__card__img__picture:hover {
    transform: scale(1.1,1.1);
  }

  &__card__text {
    flex: 1;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  &__card__text h3 {
    margin-bottom: 8px;
    text-align: center;
  }

  &__card__text p {
    text-align: left;
  }

  &__card__accessories {
    align-items: center;
    flex-direction: row;
    gap: min(f.pixelToVwSize(32px, v.$pcViewPort), 32px);
    grid-column: span 3;
    justify-content: center;

    @include m.tb {
      flex-direction: column;
      gap: 0;
      grid-column: span 1;
      justify-content: space-between;
    }
  }

  &__card__accessories &__card__img {
    margin: 0;

    @include m.tb {
      margin: 0 auto;
    }
  }

  &__card__accessories__text {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include m.tb {
      flex-grow: 1
    }
  }

  &__card__accessories__text h3 {
    font: {
      size: f.pixelToRemSize(v.$fontSize16);
    }
    line-height: v.$lineHeight28;
    text-align: left;
  }

  &__card__accessories__text a {
    width: 60%;

    @include m.tb {
      width: 100%;
    }
  }

  &__content__category__list {
    display: grid;
    gap: min(f.pixelToVwSize(35px, v.$pcViewPort), 35px);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  &__content__category__list__item {
    text-align: center;
    width: 100%;
  }

  &__content__category__list__item__img {
    border-radius: 16px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: min(100%, 350px);
  }

  &__content__category__list__item__img img {
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    object-fit: cover;
    width: min(100%, 350px);
  }

  &__content__category__list__item__img img:hover {
    transform: scale(1.1,1.1);
  }

  &__content__category__list__item__img__men {
    object-position: 0 -100px;
  }

  &__content__category__list__item a {
    border: 1px solid v.$textColor;
    margin: 24px auto 16px;
    padding: 16px 0;
    width: 80%;
  }

  &__content__category__list__item a:hover {
    color: v.$white;
  }

  &__content__category__list__item a::after {
    background-color: v.$textColor;
  }

  &__content__category__list__item a:hover::after {
    background-color: v.$white;
  }

  &__content__shoplink__attention {
    margin-top: 40px;
  }

  &__content__shoplink__attention p {
    text-align: center;
  }
}

// 保証（Warranty）
.p-warranty {
  &__content {
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse;
    gap: min(f.pixelToVwSize(90px, v.$pcViewPort), 90px);
    height: auto;
    justify-content: center;
  }

  &__content__img {
    flex: 1;
  }

  &__content__img img {
    border-radius: 56px;
    height: 100%;
    max-height: calc(100vh - v.$pcHeaderHeight);
    object-fit: cover;
    position: sticky;
    top: v.$pcHeaderHeight;
    width: auto;
  }

  &__content__text {
    flex: 1;
  }

  &__title {
    text-align: left;
  }

  &__content__text__subtitle {
    margin-bottom: 56px;
    margin-top: 16px;
  }

  &__content__text__item__list {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content__text__item__list__img {
    flex: 1;
    height: auto;
    max-width: 70px;
    width: f.pixelToVwSize(70px, v.$pcViewPort);
  }

  &__content__text__item__list__img img {
    height: auto;
    width: 100%;
  }

  &__content__text__item__list__text {
    flex: 1;
  }

  &__content__text__item__list__text h3 {
    margin-bottom: 16px;
  }
}

// アイキャッチ（Reviews用）
.p-eyecatch__fixed {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 44.64vw;
  margin-top: 100px;
  max-height: 530px;
  width: 100%;

  &__background__reviews {
    background-image: url(../img/photo/Weekend_MarbleWhite6.jpg);
    background-image: url(../img/webp/Weekend_MarbleWhite6.webp);
  }
}

// お客様の声（Reviews）


// アイキャッチ（FAQ用）
.p-eyecatch__background__faq {
  background-image: url(../img/photo/Weekend_MarbleWhite5.jpg);
  background-image: url(../img/webp/Weekend_MarbleWhite5.webp);
  background-position: center;
  background-size: cover;
  height: 44.64vw;
  margin-top: 100px;
  max-height: 530px;
  width: 100%;
}

// FAQ
.p-faq {
  &__title {
    text-align: center;
  }

  &__content__text__subtitle {
    margin-bottom: 56px;
  }

  &__list {
    width: 100%;
  }

  &__list__item {
    width: 100%;
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list__item__question {
    background: v.$subPrimaryColor;
    border-radius: 16px;
    cursor: pointer;
    padding: 16px 24px;
    position: relative;
    transition: padding-left .4s;

    &:hover {
      padding-left: 40px;
    } 
  }

  // 開閉ボタン
  &__list__item__question::before
  , &__list__item__question::after {
    background-color: v.$logoColor;
    border-radius: 16px;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.4s;
    width: 20px;
  }

  &__list__item__answer {
    margin: 16px 24px 0;

    @include m.sp() {
      display: none;
    }
  }

  &__other {
    text-align: center;
  }

  &__list__item.js-faq-is-not-active {
    .p-faq__list__item__question::after {
      transform: rotate(90deg) translateY(-50%);
    }
  }

  a {
    color: v.$ankerLinkColor;

    &:hover {
      -webkit-text-decoration: underline v.$ankerLinkColor;
      text-decoration: underline v.$ankerLinkColor;
      text-decoration-thickness: 1px;
    }
  }
}

// promotion
.p-promotion {
  background: linear-gradient(rgba(#000, 0.55), rgba(#000, 0.55)), url(../img/photo/charcoalgrey3.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(#000, 0.55), rgba(#000, 0.55)), url(../img/webp/charcoalgrey3.webp) no-repeat center center/cover;
  text-align: center;
  width: 100%;

  h2, p, span {
    color: v.$white;
    text-align: center;
  }

  h2 {
    font: {
      size: f.pixelToRemSize(v.$fontSize20);
      style: normal;
    }
    line-height: v.$lineHeight29;
  }

  a {
    border: 1px solid v.$white;
    margin-bottom: 32px;
    margin-top: 48px;
    padding: 16px 72px;
    text-align: center;
  }

  a::after {
    background-color: v.$textColor;
  }

  a:hover {
    color: v.$white;

    &::after {
      background-color: v.$white;
    }
  }

  p {
    margin-bottom: 16px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
