@use '../foundation/variables' as v;
@use '../foundation/mixin' as m;
@use '../foundation/function' as f;

.l-footer {
  background-color: v.$subPrimaryColor;
  padding: 32px 0;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @include m.sp {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__logo img {
    height: 50px;
    width: auto;
  }

  &__text__list {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: space-evenly;
    margin-bottom: 24px;
  }

  &__text__item {
    position: relative;
  }

  &__text__item::after {
    background: v.$textColor;
    content: "";
    height: 60%;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  &__text__item:last-child::after {
    display: none;
  }

  &__text__item a:hover {
    -webkit-text-decoration: underline v.$textColor;
    text-decoration: underline v.$textColor;
    text-decoration-thickness: 1px;
  }
}