@use '../foundation/variables' as v;
@use '../foundation/mixin' as m;
@use '../foundation/function' as f;

.l-footer {
  background-color: v.$subPrimaryColor;
  padding: 32px 0;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  &__content__logo img {
    height: 50px;
    width: auto;
  }

  &__content__text__list {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: space-evenly;
    margin-bottom: 24px;
  }

  &__content__text__list__item {
    position: relative;
  }

  &__content__text__list__item::after {
    background: v.$textColor;
    content: "";
    height: 60%;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  &__content__text__list__item:last-child::after {
    display: none;
  }

  &__content__text__list__item a:hover {
    text-decoration: underline 1px v.$textColor;
  }
}