@use '../foundation/variables' as v;
@use '../foundation/mixin' as m;
@use '../foundation/function' as f;

.l-header {
  &__hamburger {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-left: 40px;
    margin-top: 10px;
    position: fixed;
    width: 50px;
    z-index: v.$zindexHamburger;

    @include m.sp {
      height: min(f.pixelToVwSize(30px, v.$spViewPort), 50px);
      margin-left: min(f.pixelToVwSize(16px, v.$spViewPort), 40px);
      margin-top: min(f.pixelToVwSize(10px, v.$spViewPort), 10px);
      width: min(f.pixelToVwSize(30px, v.$spViewPort), 50px);
    }

    & > span, & > span::before {
      transition: .3s;
    }

    & > span {
      background: v.$logoColor;
      display: block;
      height: 2px;
      margin-bottom: 6px;
      position: relative;
      width: 30px;

      @include m.sp {
        width: min(f.pixelToVwSize(30px, v.$spViewPort), 30px);
      }
    }

    & > span::before {
      background: v.$logoColor;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: -10px;
      width: 100%;

      @include m.sp {
        top: max(f.pixelToVwSize(-7px, v.$spViewPort), -10px);
      }
    }

    & > span::after {
      color: v.$logoColor;
      content: 'menu';
      font: {
        family: v.$fontFamilyLora;
        size: f.pixelToRemSize(v.$fontSize14);
        style: normal;
      }
      left: -6px;
      line-height: v.$lineHeight24;
      position: absolute;
      top: 5px;

      @include m.sp {
        font: {
          size: min(f.pixelToVwSize(v.$fontSize12, v.$spViewPort), v.$fontSize14);
        }
        left: max(f.pixelToVwSize(-4px, v.$spViewPort), -6px);
        line-height: min(f.pixelToVwSize(v.$lineHeight20, v.$spViewPort), v.$lineHeight24);
      }
    }
  }

  &__content {
    align-items: center;
    background-color: rgba(v.$white, 0.80);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: v.$pcHeaderHeight;
    justify-content: center;
    left: 0;
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: v.$zindexHeader;

    @include m.sp {
      height: min(f.pixelToVwSize(v.$spHeaderHeight, v.$spViewPort), v.$pcHeaderHeight);
      padding: 0 min(f.pixelToVwSize(16px, v.$spViewPort), 40px);
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center;
    height: auto;
    width: auto;

    a {
      display: inline-block;
      height: auto;
      width: auto;
    }

    img {
      height: 50px;
      width: auto;
    }
  }

  &__shoplink {
    grid-column: 3/4;
    grid-row: 1/3;
    position: absolute;
    right: 0;

    @include m.sp {
      background: url(../img/icon/shopping-cart.svg) no-repeat;
      height: min(f.pixelToVwSize(25px, v.$spViewPort), 32px);
      margin-left: 0;
      width: min(f.pixelToVwSize(23.7px, v.$spViewPort), 30.3px);
    }

    &::after {
      background-color: v.$logoColor;

      @include m.sp {
        display: none;
      }
    }

    & > span {
      color: v.$logoColor;
    }
  }

  &__shoplink:hover {
    border-bottom: v.$logoColor 1px solid;
    padding-top: 1px;

    @include m.sp {
    border: none;
    padding-top: 0;
    }
  }

  &__nav {
    background-color: v.$subPrimaryColor;
    height: 100vh;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-125%);
    transition: .3s ease;

    &__list {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: calc(24px + v.$pcHeaderHeight) 40px 24px;

      @include m.sp {
        gap: min(f.pixelToVwSize(16px, v.$spViewPort), 24px);
        margin: min(f.pixelToVwSize(calc(16px + v.$spHeaderHeight), v.$spViewPort), calc(24px + v.$pcHeaderHeight)) min(f.pixelToVwSize(24px,  v.$spViewPort), 40px) 24px;
      }
    }

    &__item span {
      color: v.$logoColor;
      font-weight: 700;
    }

    &__shoplink {
      color: v.$logoColor;
      font-weight: 400;
      padding: 16px 72px;
      text-align: center;

      @include m.sp {
        padding: min(f.pixelToVwSize(8px, v.$spViewPort), 16px) min(f.pixelToVwSize(56px, v.$spViewPort), 72px);
      }
    }

    &__shoplink::after {
      background-color: v.$logoColor;
    }

    &__logo {
      width: auto;
      height: auto;

      & img {
        width: 150px;

        @include m.sp {
          width: min(f.pixelToVwSize(120px, v.$spViewPort), 150px);
        }
      }
    }

    &__title-en {
      font: {
        family: v.$fontFamilyLora;
        size: f.pixelToRemSize(v.$fontSize20);
        style: normal;
      }
      line-height: v.$lineHeight28;

      @include m.sp {
        font: {
          size: min(f.pixelToVwSize(v.$fontSize16, v.$spViewPort), v.$fontSize20);
        }
        line-height: v.$lineHeight28;
      }
    }
  }

  &.js-nav-is-active {
    .l-header__hamburger {
      & > span {
        margin-top: 0;
        top: -5px;
        transform: rotate(30deg);
      }
  
      & > span::before {
        top: 0px;
        transform: rotate(-60deg);
      }
  
      & > span::after {
        content: 'close';
        left: 3px;
        margin-top: 4px;
        transform: rotate(-30deg);
      }
    }

    .l-header__nav {
      overflow-y: auto;
      position: fixed;
      transform: translateX(0);
      z-index: v.$zindexNav;
    }

    .l-header__nav__item:not(:last-child) {
      transition: padding-left .4s;

      &:hover {
        padding-left: 16px;

        @include m.sp {
          padding-left: min(f.pixelToVwSize(8px, v.$spViewPort), 16px);
        }
      }
    }

    .l-header__nav__shoplink:hover {
      background-color: v.$logoColor;
      color: v.$white;

      &::after {
        background-color: v.$white;
      }
    }
  }
}