@use './function' as f;

// フォントファミリー
$fontFamily: 'Lora', 'Noto Sans JP', sans-serif;
$fontFamilyLora: 'Lora', sans-serif;

// フォントサイズ
$fontSize50: 50px;
$fontSize40: 40px;
$fontSize36: 36px;
$fontSize20: 20px;
$fontSize16: 16px;
$fontSize14: 14px;
$fontSize12: 12px;

// 行間
$lineHeight72: 72px;
$lineHeight66: 66px;
$lineHeight58: 58px;
$lineHeight52: 52px;
$lineHeight47: 47px;
$lineHeight29: 29px;
$lineHeight28: 28px;
$lineHeight24: 24px;
$lineHeight20: 20px;

// サイズ(px値→vw値)計算の基準となるviewport(px値)
$pcViewPort: 1120px;
$tbViewPort: 768px;
$spViewPort: 375px;

// カラーコード
$primaryColor: #8FC6AB;
$subPrimaryColor: #CDE0DD;
// $subPrimaryColor: #DFEBE9;
// $subPrimaryColor: #E5EFED;
// $subPrimaryColor: #F7FAF9;
$subPrimaryColor2: #F6F9F8;
$logoColor: #005864;
$textColor: #2C2C2C;
$reviewsStarColor: #FDB603;
$white: #fff;

// ブレークポイント
$breakPointSp: 768px;

// 特定要素の幅・高さ
$pcHeaderHeight: 70px;
$spHeaderHeight: 50px;
$pcSectionPaddingHeight: 100px;
$spSectionPaddingHeight: 64px;
$pcSectionPaddingWidth: 30px;
$spSectionPaddingWidth: 16px;
$waveWidth: 1280px;

// z-index
$zindexHamburger: 10000;
$zindexNav: 5000;
$zindexHeader: 1000;
$zindexHeroImg: 10;
$zindexAboutText: 1;
$zindexAboutBorder: -1;